wf4-live.json
[
  {
    "updatedAt": "2026-03-19T04:08:38.506Z",
    "createdAt": "2026-03-18T07:40:51.047Z",
    "id": "v8DDRaFudzxJc3Ak",
    "name": "#4 ROAR Workflow - Summarization Agent",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "triage-escalation",
          "options": {}
        },
        "id": "ee3df93d-571f-43d2-aebc-eb8a2ed591b2",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "a9c8f902-27ee-45d9-b297-fa32ef31d9a4"
      },
      {
        "parameters": {
          "url": "=http://192.168.1.52:8000/cases/{{$json.body.case_id}}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyYzI5NzE4OC0xNDY2LTQwODEtOGE2Zi00OTA0NTNkYmE1M2UiLCJyb2xlIjoiYXBwcm92ZXIiLCJlbWFpbCI6ImFwcHJvdmVyQHJvYXIuYXBwIiwiZnVsbF9uYW1lIjoiQWxleCBDaGVuIiwiaWF0IjoxNzczODEwMTgxLCJleHAiOjE3NzY0MzA5ODF9.SMeqiCOanRtx7eNmCFZmP_jbWTZExxf4Vd1YFCkYYdA"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "id": "a4496fcc-57e4-43a8-bd32-2821dd6304fd",
        "name": "Fetch Full Case",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          240,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const c = $items('Fetch Full Case')[0]?.json ?? {};\n\nconst user_message = {\n  dispute_type: c.dispute_type ?? null,\n  order_id: c.order_id ?? null,\n  customer_name: c.customer_name ?? null,\n  information_bundle: c.information_bundle ?? null,\n  triage_decision: c.triage_decision ?? null,\n};\n\nreturn [{\n  case_id: c.id || $node['Webhook Trigger'].json.body.case_id,\n  user_message,\n}];\n"
        },
        "id": "624137d9-1db4-4ed0-a761-e1c6234c1fe7",
        "name": "Build Summary Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          0
        ]
      },
      {
        "parameters": {
          "prompt": "=={{ JSON.stringify($json.user_message) }}",
          "messages": {
            "messageValues": [
              {
                "message": "You are ROAR's summarization agent. Generate concise case summaries for escalation agents\n\nwho need to quickly understand a dispute before joining a live customer chat.\n\nGUIDELINES:\n\n- summary: 2-3 sentences maximum.\n\n- key_facts: 3-5 items, specific values preferred (amounts, statuses, dates).\n\n- recommended_action: one clear directive.\n\nRESPONSE FORMAT --- valid JSON only:\n\n{ \"summary\": \"string\",\n\n\"key_facts\": [\"string\"],\n\n\"escalation_reason\": \"string\",\n\n\"recommended_action\": \"string\",\n\n\"data_sources_queried\": [\"oms\",\"logistics\"],\n\n\"policies_relevant\": [\"policy-slug\"] }"
              }
            ]
          }
        },
        "id": "f71cfe0d-b1e3-4bf9-a746-b9ec4733c64f",
        "name": "Basic LLM Chain — Summary",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1,
        "position": [
          672,
          -96
        ]
      },
      {
        "parameters": {
          "model": "gpt-4o-mini",
          "options": {
            "maxTokens": 600,
            "responseFormat": "json_object",
            "temperature": 0.3
          }
        },
        "id": "d6645122-5c4a-4f98-983f-a2e484476c14",
        "name": "OpenAI Chat Model — Summary",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          720,
          192
        ],
        "credentials": {
          "openAiApi": {
            "id": "NByBKEvh1nY13B5s",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const caseData = $items('Fetch Full Case')[0]?.json ?? {};\n\nconst coerceToString = (v) => {\n  if (v == null) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'object') {\n    if (typeof v.text === 'string') return v.text;\n    if (typeof v.output === 'string') return v.output;\n    if (typeof v.response === 'string') return v.response;\n    if (v.response && typeof v.response.text === 'string') return v.response.text;\n  }\n  return String(v);\n};\n\nlet summary;\ntry {\n  if ($json && typeof $json === 'object' && ($json.summary || $json.key_facts)) {\n    summary = $json;\n  } else {\n    const text = coerceToString($json);\n    summary = JSON.parse(text);\n  }\n} catch (e) {\n  summary = null;\n}\n\nconst valid = summary\n  && typeof summary.summary === 'string'\n  && Array.isArray(summary.key_facts)\n  && typeof summary.escalation_reason === 'string'\n  && typeof summary.recommended_action === 'string'\n  && Array.isArray(summary.data_sources_queried)\n  && Array.isArray(summary.policies_relevant);\n\nif (!valid) {\n  summary = {\n    summary: `Escalated ${caseData.dispute_type || 'unknown'} dispute for order ${caseData.order_id || 'unknown'}.`,\n    key_facts: [\n      caseData.triage_decision?.justification || 'Escalation due to triage error or incomplete data.',\n    ],\n    escalation_reason: 'LLM summarization failed, using minimal fallback.',\n    recommended_action: 'Human agent should review the full case bundle and triage decision.',\n    data_sources_queried: ['oms'],\n    policies_relevant: [],\n  };\n}\n\nreturn [{\n  case_id: caseData.id || $node['Webhook Trigger'].json.body.case_id,\n  summary,\n}];\n"
        },
        "id": "bd9706e0-f5c2-4fc9-8379-9116e0eb03c6",
        "name": "Parse + Validate",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          0
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=http://192.168.1.52:8000/cases/{{$json.case_id}}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyYzI5NzE4OC0xNDY2LTQwODEtOGE2Zi00OTA0NTNkYmE1M2UiLCJyb2xlIjoiYXBwcm92ZXIiLCJlbWFpbCI6ImFwcHJvdmVyQHJvYXIuYXBwIiwiZnVsbF9uYW1lIjoiQWxleCBDaGVuIiwiaWF0IjoxNzczODEwMTgxLCJleHAiOjE3NzY0MzA5ODF9.SMeqiCOanRtx7eNmCFZmP_jbWTZExxf4Vd1YFCkYYdA"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "=escalation_summary",
                "value": "={{ \n  typeof $item(0, 'Parse + Validate').$json.summary === 'string'\n    ? $item(0, 'Parse + Validate').$json.summary\n    : ($item(0, 'Parse + Validate').$json.summary?.summary || \"\")\n}}"
              }
            ]
          },
          "options": {}
        },
        "id": "9d66864d-7b7b-4706-8416-f301aebaa90a",
        "name": "Save Summary to Case",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1200,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://192.168.1.52:8000/cases/{{ $json.id || $json.case_id }}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyYzI5NzE4OC0xNDY2LTQwODEtOGE2Zi00OTA0NTNkYmE1M2UiLCJyb2xlIjoiYXBwcm92ZXIiLCJlbWFpbCI6ImFwcHJvdmVyQHJvYXIuYXBwIiwiZnVsbF9uYW1lIjoiQWxleCBDaGVuIiwiaWF0IjoxNzczODEwMTgxLCJleHAiOjE3NzY0MzA5ODF9.SMeqiCOanRtx7eNmCFZmP_jbWTZExxf4Vd1YFCkYYdA"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "=content",
                "value": "={{ \n  typeof $item(0, 'Parse + Validate').$json.summary === 'string'\n    ? $item(0, 'Parse + Validate').$json.summary\n    : ($item(0, 'Parse + Validate').$json.summary?.summary || \"Your case has been escalated. A customer care specialist will join shortly.\")\n}}"
              },
              {
                "name": "sender_type",
                "value": "system"
              },
              {
                "name": "=metadata",
                "value": "={{ typeof $json.summary === 'string'\n  ? $json.summary\n  : ($json.summary?.summary || \"Your case has been escalated. A customer care specialist will join shortly.\") }}"
              }
            ]
          },
          "options": {}
        },
        "id": "1ffc00e5-49c9-49b9-a4c6-b1b625559422",
        "name": "Post Customer Message",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1440,
          0
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Fetch Full Case",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Full Case": {
        "main": [
          [
            {
              "node": "Build Summary Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Summary Prompt": {
        "main": [
          [
            {
              "node": "Basic LLM Chain — Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain — Summary": {
        "main": [
          [
            {
              "node": "Parse + Validate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse + Validate": {
        "main": [
          [
            {
              "node": "Save Summary to Case",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Summary to Case": {
        "main": [
          [
            {
              "node": "Post Customer Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model — Summary": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain — Summary",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": true,
      "timeSavedMode": "fixed",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "ac3c7980-8126-4097-af54-23d345b3e2dd",
    "activeVersionId": "ac3c7980-8126-4097-af54-23d345b3e2dd",
    "versionCounter": 64,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-03-18T07:40:51.051Z",
        "createdAt": "2026-03-18T07:40:51.051Z",
        "role": "workflow:owner",
        "workflowId": "v8DDRaFudzxJc3Ak",
        "projectId": "u9EDii98eDPZ0DFz",
        "project": {
          "updatedAt": "2026-03-17T15:26:25.333Z",
          "createdAt": "2026-03-17T15:25:33.310Z",
          "id": "u9EDii98eDPZ0DFz",
          "name": "KEITH RUEZYL TAGARAO <keith_tagarao01@yahoo.com.ph>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "959c9550-c95c-40a0-b6c0-1874e8f51944"
        }
      }
    ],
    "versionMetadata": {
      "name": "Version ac3c7980",
      "description": ""
    }
  }
]