n8n/workflows/06_case_report.json
{
  "name": "#6 ROAR Workflow - Case Report Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "conversation-closed",
        "options": {}
      },
      "id": "34d53481-cc5c-41b0-be98-e24583978fe9",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        -224
      ],
      "webhookId": "eefa9395-4267-4b05-bfe2-12e3bee8e3a2"
    },
    {
      "parameters": {
        "url": "=http://192.168.1.52:8000/cases/{{$json.body.case_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhMTAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDQiLCJyb2xlIjoiYXBwcm92ZXIiLCJlbWFpbCI6ImFwcHJvdmVyQHJvYXIuYXBwIiwiZnVsbF9uYW1lIjoiQWxleCBDaGVuIiwiaWF0IjoxNzc0NjQ0OTMxLCJleHAiOjE3NzczNTIxMzF9.ISsKRKefvXjGnk1-zt6aBKnmk__6H1DHoACAEMUZ-A8"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "bc9d6c34-a139-4959-bd31-cf9938e50331",
      "name": "Fetch Full Case",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        272,
        -224
      ]
    },
    {
      "parameters": {
        "url": "=http://192.168.1.52:8000/cases/{{$json.id}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhMTAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDQiLCJyb2xlIjoiYXBwcm92ZXIiLCJlbWFpbCI6ImFwcHJvdmVyQHJvYXIuYXBwIiwiZnVsbF9uYW1lIjoiQWxleCBDaGVuIiwiaWF0IjoxNzc0NjQ0OTMxLCJleHAiOjE3NzczNTIxMzF9.ISsKRKefvXjGnk1-zt6aBKnmk__6H1DHoACAEMUZ-A8"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "9a79b4bd-b277-478e-b46a-25bf0fc8bdd3",
      "name": "Fetch Chat Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        496,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $items('Fetch Full Case')[0]?.json ?? {};\nconst rawMessages = $items('Fetch Chat Transcript')[0]?.json ?? {};\nconst messages = Array.isArray(rawMessages) ? rawMessages : (rawMessages.messages || []);\nconst trimmedTranscript = messages.slice(-40);\n\nconst webhookBody = $node['Webhook Trigger']?.json?.body ?? {};\n\nconst user_message = {\n  case: c,\n  transcript: trimmedTranscript,\n  closed_by: webhookBody.closed_by ?? null,\n  close_reason: webhookBody.close_reason ?? null,\n  triage_decision: c.triage_decision ?? null,\n  resolution_plan: c.resolution_plan ?? null,\n  evidence_bundle: c.evidence_bundle ?? c.information_bundle?.evidence_bundle ?? null,\n  proof_uploads: c.proof_uploads ?? c.information_bundle?.proof_uploads ?? [],\n  proof_analysis: c.proof_analysis ?? c.information_bundle?.proof_analysis ?? null,\n  proof_analysis_status: c.proof_analysis_status ?? c.information_bundle?.proof_analysis_status ?? null,\n};\n\nreturn [{\n  case_id: c.id || webhookBody.case_id,\n  user_message,\n}];"
      },
      "id": "c717e4ec-51f9-4ed7-b4f1-d61178136c84",
      "name": "Build Report Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -224
      ]
    },
    {
      "parameters": {
        "prompt": "=={{ JSON.stringify($json.user_message) }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are ROAR's case report agent. Compile a permanent audit record for a closed case.\n\nYou will receive the full case object and conversation transcript.\n\nGUIDELINES:\n- Be thorough and factual. This is a permanent audit record.\n- outcome_summary: 2-3 sentences on what happened and how it resolved.\n- Extract actual values from case data, triage_decision, resolution_plan, evidence_bundle, and transcript.\n- Do not invent fields or outcomes.\n- Set inapplicable fields to null.\n- Preserve the final triage_decision object shape rather than collapsing it to old labels.\n- Include evidence and proof context when present.\n\nRESPONSE FORMAT --- valid JSON only:\n\n{\n  \"intent_classification\": \"string\",\n  \"data_sources_queried\": [\"string\"],\n  \"policies_applied\": [\"slug\"],\n  \"slas_applied\": [\"slug\"],\n  \"triage_decision\": {},\n  \"resolution_path\": \"string\",\n  \"approval_outcome\": \"approved\" | \"rejected\" | null,\n  \"rejection_reason\": \"string\" | null,\n  \"resolution_actions\": {} | null,\n  \"evidence_bundle\": {} | null,\n  \"proof_uploads\": [] | null,\n  \"outcome_summary\": \"string\",\n  \"close_reason\": \"string\"\n}\n"
            }
          ]
        }
      },
      "id": "ab68db54-8a21-4f81-ad7f-b8d90107f94d",
      "name": "Basic LLM Chain — Report",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        944,
        -224
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "maxTokens": 1000,
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "id": "c135910c-6387-42ae-8544-d9fdfa6396d8",
      "name": "OpenAI Chat Model — Report",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "NByBKEvh1nY13B5s",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const c = $items('Fetch Full Case')[0]?.json ?? {};\nconst webhookBody = $node['Webhook Trigger']?.json?.body ?? {};\n\nconst coerceToString = (v) => {\n  if (v == null) return '';\n  if (typeof v === 'string') return v;\n  if (typeof v === 'object') {\n    if (typeof v.text === 'string') return v.text;\n    if (typeof v.output === 'string') return v.output;\n    if (typeof v.response === 'string') return v.response;\n    if (v.response && typeof v.response.text === 'string') return v.response.text;\n  }\n  return String(v);\n};\n\nconst asArray = (v, fallback = []) => Array.isArray(v) ? v : fallback;\nconst asObject = (v, fallback = null) =>\n  v && typeof v === 'object' && !Array.isArray(v) ? v : fallback;\n\nlet report;\ntry {\n  if ($json && typeof $json === 'object' && $json.intent_classification !== undefined) {\n    report = $json;\n  } else {\n    const text = coerceToString($json);\n    report = JSON.parse(text);\n  }\n} catch (e) {\n  report = null;\n}\n\nconst fallbackEvidenceBundle =\n  c.evidence_bundle ??\n  c.information_bundle?.evidence_bundle ??\n  null;\n\nconst fallbackProofUploads =\n  c.proof_uploads ??\n  c.information_bundle?.proof_uploads ??\n  null;\n\nconst fallbackTriageDecision = asObject(c.triage_decision, {});\nconst fallbackResolutionActions = asObject(c.resolution_plan, null);\n\nconst hasCoreFields = report &&\n  typeof report.intent_classification === 'string' &&\n  Array.isArray(report.data_sources_queried) &&\n  typeof report.outcome_summary === 'string' &&\n  report.outcome_summary.trim().length > 0;\n\nif (!hasCoreFields) {\n  report = {\n    case_id: c.id || webhookBody.case_id,\n    dispute_type: c.dispute_type || 'unknown',\n    customer_name: c.customer_name || 'Unknown Customer',\n    customer_email: c.customer_email || 'unknown@example.com',\n    order_id: c.order_id || '',\n    intent_classification: c.dispute_subtype || c.dispute_type || 'unknown',\n    data_sources_queried: ['internal'],\n    policies_applied: asArray(fallbackTriageDecision?.policies_applied),\n    slas_applied: asArray(fallbackTriageDecision?.slas_applied),\n    triage_decision: fallbackTriageDecision,\n    resolution_path: c.resolution_path || 'unknown',\n    approval_outcome: null,\n    rejection_reason: c.rejection_reason || null,\n    resolution_actions: fallbackResolutionActions,\n    evidence_bundle: fallbackEvidenceBundle,\n    proof_uploads: fallbackProofUploads,\n    outcome_summary: `Case ${c.id || webhookBody.case_id} closed with status ${c.status || 'closed'}.`,\n    close_reason: webhookBody.close_reason || c.close_reason || 'resolved',\n  };\n} else {\n  report = {\n    case_id: c.id || webhookBody.case_id,\n    dispute_type: report.dispute_type ?? c.dispute_type ?? 'unknown',\n    customer_name: report.customer_name ?? c.customer_name ?? 'Unknown Customer',\n    customer_email: report.customer_email ?? c.customer_email ?? 'unknown@example.com',\n    order_id: report.order_id ?? c.order_id ?? '',\n    intent_classification: report.intent_classification,\n    data_sources_queried: asArray(report.data_sources_queried, ['internal']),\n    policies_applied: asArray(report.policies_applied, asArray(fallbackTriageDecision?.policies_applied)),\n    slas_applied: asArray(report.slas_applied, asArray(fallbackTriageDecision?.slas_applied)),\n    triage_decision: asObject(report.triage_decision, fallbackTriageDecision),\n    resolution_path: report.resolution_path ?? c.resolution_path ?? 'unknown',\n    approval_outcome: report.approval_outcome ?? null,\n    rejection_reason: report.rejection_reason ?? c.rejection_reason ?? null,\n    resolution_actions: asObject(report.resolution_actions, fallbackResolutionActions),\n    evidence_bundle: asObject(report.evidence_bundle, fallbackEvidenceBundle),\n    proof_uploads: Array.isArray(report.proof_uploads) ? report.proof_uploads : fallbackProofUploads,\n    outcome_summary: report.outcome_summary,\n    close_reason: report.close_reason ?? webhookBody.close_reason ?? c.close_reason ?? 'resolved',\n  };\n}\n\nreturn [{\n  case_id: c.id || webhookBody.case_id,\n  closed_by: webhookBody.closed_by || null,\n  close_reason: webhookBody.close_reason || null,\n  report,\n}];"
      },
      "id": "9822f006-8a33-4d57-8ded-1aa22e285c15",
      "name": "Parse + Validate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        -224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.1.52:8000/cases/{{$json.case_id}}/report",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "dev-webhook-secret-change-in-production"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "case_id",
              "value": "={{ $json.report.case_id }}"
            },
            {
              "name": "dispute_type",
              "value": "={{ $json.report.dispute_type }}"
            },
            {
              "name": "customer_name",
              "value": "={{ $json.report.customer_name }}"
            },
            {
              "name": "customer_email",
              "value": "={{ $json.report.customer_email }}"
            },
            {
              "name": "order_id",
              "value": "={{ $json.report.order_id }}"
            },
            {
              "name": "intent_classification",
              "value": "={{ $json.report.intent_classification }}"
            },
            {
              "name": "data_sources_queried",
              "value": "={{ $json.report.data_sources_queried }}"
            },
            {
              "name": "policies_applied",
              "value": "={{ $json.report.policies_applied }}"
            },
            {
              "name": "slas_applied",
              "value": "={{ $json.report.slas_applied }}"
            },
            {
              "name": "triage_decision",
              "value": "={{ $json.report.triage_decision }}"
            },
            {
              "name": "resolution_path",
              "value": "={{ $json.report.resolution_path }}"
            },
            {
              "name": "approval_outcome",
              "value": "={{ $json.report.approval_outcome }}"
            },
            {
              "name": "rejection_reason",
              "value": "={{ $json.report.rejection_reason }}"
            },
            {
              "name": "resolution_actions",
              "value": "={{ $json.report.resolution_actions }}"
            },
            {
              "name": "outcome_summary",
              "value": "={{ $json.report.outcome_summary }}"
            },
            {
              "name": "close_reason",
              "value": "={{ $json.report.close_reason }}"
            },
            {
              "name": "evidence_bundle",
              "value": "={{ $json.report.evidence_bundle }}"
            },
            {
              "name": "proof_uploads",
              "value": "={{ $json.report.proof_uploads }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a83bba68-38a8-420c-a1d9-d28e9aaf41b7",
      "name": "Write Case Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1520,
        -224
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Full Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Case": {
      "main": [
        [
          {
            "node": "Fetch Chat Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Chat Transcript": {
      "main": [
        [
          {
            "node": "Build Report Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain — Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain — Report": {
      "main": [
        [
          {
            "node": "Parse + Validate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Validate Report": {
      "main": [
        [
          {
            "node": "Write Case Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Case Report": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model — Report": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain — Report",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "active": true,
  "versionId": "fb0ff18d-487b-42bf-828f-aa5d1f0b7d38",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
